@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /*Website color variables*/
    --siteBackgroundColor: #EEF9BF;
    --headerTextColor: #75B79E;

    /* Cards variables */
    --cardBackgroundColor: #A7E9AF;
    --cardMatchedBackgroundColor: #f294e58d;
    --cardMatchedBorderColor: #ec53658d;
    --cardBorderColor: #99CEA8;
    --cardWidth: 117px;
    --cardHeight: 146px;
    --cardImgWidth: 100px;
    --cardImgHeight: 100px;    

    /* Restart Button variables*/
    --restartButtonBackgroundColor: #75B79E;
    --restartButtonHoverBackgroundColor: #326a55;
}

body {
    background-color: var(--siteBackgroundColor);  
}

header {
    font-family: 'Roboto';
    text-align: center;
    font-weight: 700;
    color: var(--headerTextColor);
    margin: 40px 0px;
    font-size: 56px;
}

main {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    margin: 20px 30px;   
    width: var(--cardWidth);
    height: var(--cardHeight);
}

.card:hover{
    cursor: pointer;
}
    
.cardBack, .cardFront {
    position: absolute;
    display: flex;  
    justify-content: center;
    align-items: center;
    width: var(--cardWidth);
    height: var(--cardHeight);
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    background-color: var(--cardBackgroundColor);
    border: 1px solid var(--cardBorderColor);
    border-radius: 10px;
}

.cardBack img, .cardFront img {
    width: var(--cardImgWidth);
    height: var(--cardImgHeight);
}

.rotate {
    transform: rotateY(180deg);
}

.cardMatched {
    background-color: var(--cardMatchedBackgroundColor);
    border: 1px solid var(--cardMatchedBorderColor);
}

.restartButton {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    width: 170px;
    height: 70px;
    margin-top: 50px;
    border-radius: 15px;
    transition: all .5s;
    background-color: var(--restartButtonBackgroundColor);
    color: #FFFFFF;
}

.restartButton:hover {
    cursor: pointer;
    background-color: var(--restartButtonHoverBackgroundColor);
}

@media(max-width: 500px) {
    header {
        margin: 20px 15px;
    }
}
