@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto;
}


body {
    background-color: #EEF9BF;  
}

header {
    text-align: center;
    font-weight: 700;
    color: #75B79E;
    margin: 40px 0px;
    font-size: 56px;
}

main {
    width: 80%;
    margin: 0px auto;
    
}

.cardSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardBack, .cardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    width: 117px;
    height: 146px;
    margin: 0px 20px 30px 20px;
}

.cardBack img, .cardFront img {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

@media(max-width: 500px) {
    header {
        margin: 20px 15px;
    }
}